<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >

<beans default-autowire="no" default-lazy-init="false" default-dependency-check="none">
	<!-- SERVICE -->
	<!-- 订单服务 -->
	<bean id="lotteryBetOrderService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager"></ref>
        </property>
        <property name="proxyInterfaces">
              <value>com.success.lottery.order.service.interf.BetPlanOrderServiceInterf</value>
        </property>
        <property name="target">
            <bean class="com.success.lottery.order.service.impl.BetPlanOrderService">
                <property name="betPlanDao">
                  <ref bean="lotteryBetPlanDaoImpl"/>
                </property>
                <property name="betOrderDao">
                  <ref bean="lotteryBetOrderDaoImpl"/>
                </property>
                <property name="cpInfoDao">
                  <ref bean="lotteryCpInfoDaoImpl"/>
                </property>   
            </bean>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="update*">PROPAGATION_REQUIRED,-LotteryException</prop>
                <prop key="insert*">PROPAGATION_REQUIRED,-LotteryException</prop>
                <prop key="queryBet*">PROPAGATION_REQUIRED,-LotteryException</prop>
            </props>
        </property>
    </bean>
	
  	<!--END SERVICE-->
  	
  	<!--DAO-->
	<bean id="lotteryBetPlanDaoImpl" class="com.success.lottery.order.dao.impl.BetPlanDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClientOrder"/>
		</property>		
	</bean>
	<bean id="lotteryBetOrderDaoImpl" class="com.success.lottery.order.dao.impl.BetOrderDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClientOrder"/>
		</property>		
	</bean>
	<bean id="lotteryCpInfoDaoImpl" class="com.success.lottery.order.dao.impl.CpInfoDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClientOrder"/>
		</property>		
	</bean>
	<!--END DAO-->
</beans>